<!DOCTYPE html>
<html>
    
        <% include partials/head %>
        <div class="wrapper">
            <h1><%= title %></h1>
            <div class="ra-r"></div>
            <body>
            <table class="table table-inverse">
    <thead>
      <tr>
        <th>Name</th>
        <th>Duration of educational use</th>
        <th>Duration of shopping</th>
        <th>Duration of searching/browsing</th>
        <th>Duration of social media</th>
        <th>Date</th>

      </tr>
    </thead>

    <tbody>
      <%totalEducation = 0 %>
      <%totalShopping = 0 %>
      <%totalBrowsing = 0 %>
      <%totalSocialMedia = 0 %>
      <%numEntries = 0 %>
      


      <% for(var i=0; i < usagelist.length; i++) { %>
     <tr>
        <td><%= usagelist[i].name %></td>
       <td><%= usagelist[i].educational %></td>
       <td><%= usagelist[i].shopping %></td>
       <td><%= usagelist[i].browsing %></td>
       <td><%= usagelist[i].socialMedia %></td>
       <td><%= usagelist[i].date %></td>
        <% totalEducation += usagelist[i].educational %>
        <% totalShopping += usagelist[i].shopping %>
        <% totalBrowsing += usagelist[i].browsing %>
        <% totalSocialMedia += usagelist[i].socialMedia %>
        <% numEntries ++ %>
      
</tr>

<% } %>
 <%totalTime = totalEducation + totalShopping + totalBrowsing + totalSocialMedia %>
 <% averageEducation = Math.floor(totalEducation / numEntries) %>
  <% averageShopping = Math.floor(totalShopping / numEntries) %>
  <% averageBrowsing = Math.floor(totalBrowsing / numEntries) %>
  <% averageSocialMedia = Math.floor(totalSocialMedia / numEntries) %>
  <% dailyAVG = Math.floor(totalTime/ numEntries) %>
  
 
  <tr> 
  <td class="report">Average: </td>
  <td class="report"><%= averageEducation %></td>
  <td class="report"><%= averageShopping %></td>
  <td class="report"><%= averageBrowsing %></td>
  <td class="report"><%= averageSocialMedia %></td>
  <td class="report">Daily Avg: <%= dailyAVG %></td>

</tr>
 <tr> 
  <td class="report">Total: </td>
  <td class="report"><%= totalEducation %></td>
  <td class="report"><%= totalShopping %></td>
  <td class="report"><%= totalBrowsing %></td>
  <td class="report"><%= totalSocialMedia %></td>
  <td class="report">Total Time: <%= totalTime %></td>

</tr>
    </tbody>

  </table>
 
</body>
</div>
</div>
<% include partials/foot %>

</html>